*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 100%;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: 0;
  margin-right: 0;
}

.container-secton-one {
  display: block;
  max-width: 100%;
  padding-left: 510px;
  padding-right: 510px;
  margin-left: 0;
  margin-right: 0;
}

.container-header {
  display: inline-flex;
  max-width: 100%;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.profits {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: space-between;
}

.our-team {
  display: flex;
  padding-bottom: 120px;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header-one {
  display: block;
  width: 496px;
  padding-top: 188px;
  margin-left: 0 auto;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
}

.header-two {
  padding-top: 120px;
  padding-bottom: 72px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-webstudio {
  padding-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.nav-webstudio .plan-name {
  color: #2e2f42;
}
.nav-webstudio .footer-name {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}

.nav {
  padding-top: 24px;
  display: flex;
}

.nav-studio {
  padding-right: 40px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
}
.nav-studio:focus {
  color: #404bbf;
}
.nav-studio:hover {
  color: #404bbf;
}

.mailto {
  padding-right: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.mailto:focus {
  color: #404bbf;
}
.mailto:hover {
  color: #404bbf;
}

.button-service {
  padding: 16px 32px;
  margin-top: 48px;
  margin-bottom: 188px;
  margin-left: 164px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-service:focus {
  background-color: #404bbf;
}
.button-service:hover {
  background-color: #404bbf;
}

.adress-norm {
  font-style: normal;
  padding-top: 24px;
  padding-left: 332px;
}

.section-one {
  display: flex;
  background-color: #2e2f42;
}

.section-three {
  background-color: #f4f4fd;
}

.section-three .heroes {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
}

.profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.body-one {
  width: 264px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.product {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
