*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1158;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.container-one {
  display: flex;
  justify-content: center;
  width: 1158;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.container-two {
  display: flex;
  flex-direction: column;
  background-color: #2e2f42;
  width: 1158;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.container-four {
  width: 1158;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;
  background-color: #f4f4fd;
}

.profits {
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: left;
}

.our-team {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.navigation {
  display: flex;
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header-one {
  padding-top: 188px;
  padding-left: 472px;
  padding-right: 472px;
  padding-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}

.header-two {
  padding-bottom: 72px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-three {
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-three-portfolio {
  padding-left: 16px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-webstudio {
  margin-right: 76px;
  /* padding-left: 141px; */
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.nav-webstudio .plan-name {
  color: #2e2f42;
}
.nav-webstudio .footer-name {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}

.nav {
  padding-top: 24px;
  display: flex;
  column-gap: 40px;
}

.nav-studio {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
}
.nav-studio:focus {
  color: #404bbf;
}
.nav-studio:hover {
  color: #404bbf;
}

.mailto {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.mailto:focus {
  color: #404bbf;
}
.mailto:hover {
  color: #404bbf;
}

.button-service {
  padding: 16px 32px;
  margin-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button-service:focus {
  background-color: #404bbf;
}
.button-service:hover {
  background-color: #404bbf;
}

.adress-norm {
  font-style: normal;
  padding-top: 24px;
  margin-left: 332px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-three {
  background-color: #f4f4fd;
}

.heroes {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
}

.profession {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.body-one {
  width: 264px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.product {
  padding-left: 16px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
